<section class="ms-blog-intro-container">
    <div class="ms-blog-intro-wrapper">
        <h1>Welcome to My Blog</h1>
        <div class="ms-my-blog-container">
            <div class="ms-close-btn-wrapper">
                <span class="ms-close-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <p>Container for showing application messages</p>
        </div>
        <div class="ms-add-new-blog-post-btn-container">
            <button class="ms-add-new-blog-post-btn">Add post</button>
        </div>
    </div>
</section>