<form (ngSubmit)="onSubmit()" class="ms-popup-add-edit-post-window-container">
    <!-- Header bar -->
    <div class="ms-add-edit-post-header-bar-wrapper">
        Add blog post
        <div class="ms-add-edit-bar-btns-container">
            <span class="ms-line-btn"></span>
            <span class="ms-square-btn"></span>
            <span class="ms-x-btn" (click)="closeAddPostMenu()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </div>

    <!-- Add post content container -->
    <div class="ms-add-edit-post-content-wrapper">
        <div class="ms-post-title-container">
            <label for="title">Title</label>
            <input [(ngModel)]="title" type="text" name="title" placeholder="Title of the post">
        </div>
        <div class="ms-post-text-container">
            <label for="text">Text</label>
            <textarea [(ngModel)]="body" name="text" id="ms-post-text" cols="30" rows="10" placeholder="Text of the post"></textarea>
        </div>
        <div class="ms-post-cancel-btns-container">
            <button type="submit" class="ms-post-btn">Post</button>
            <button class="ms-cancel-btn" (click)="closeAddPostMenu()">Cancel</button>
        </div>
    </div>
</form>