<header class="ms-blog-header container-fluid">
    <nav class="navbar navbar-light">
        <a class="navbar-brand ms-blog-title-container">My Blog</a>

        <div class="ms-blog-search-nav-container">
            <form class="form-inline ms-blog-search-container">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <button class="navbar-toggler ms-mobile-nav-toggle-btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ms-nav-toggle-btn-line"></span>
                <span class="ms-nav-toggle-btn-line"></span>
                <span class="ms-nav-toggle-btn-line"></span>
                <span class="ms-nav-toggle-btn-line"></span>
            </button>

            <div class="navbar-collapse ms-blog-nav-container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
